<!doctype html>
<html class="no-js" lang="en">


<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Specific Meta
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  

    <!-- Titles
    ================================================== -->
    <title>Commercial Property</title>

    
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.html">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.html">

    <!-- Custom Font
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i%7cPoppins:300,400,500,600,700" rel="stylesheet">   
    
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/colors.css">
    <link rel="stylesheet" href="style.css">
    <!-- Modernizr
    ================================================== -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>



    <!-- priyashravani -->

    
  <script src="js/js1/jquery1.min.js"></script>


<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<link rel = "stylesheet" href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

 

  <script src="js/js1/angular.min.js"></script>  
  <script src="js/js1/angular-animate.min.js"></script>
  <script src="js/js1/angular-aria.min.js"></script>
  <script src="js/js1/angular-messages.min.js"></script>
  <script src="js/js1/angular-material.min.js"></script> 


   <script type="text/javascript" src="js/js1/smart-table.min.js"></script>
  <script src="js/js1/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="js/js1/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="js/js1/ui-bootstrap-tpls.js"></script>
 
  <link rel = "stylesheet" href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="css/w3.css">
  <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel = "stylesheet" href = "css/new.css">

 <script type="text/javascript" src="prereleased.js"></script>
 <script src='https://kit.fontawesome.com/a076d05399.js'></script>


</head>
<body>
<div ng-app="prerelapp" ng-controller="precntrl">
    <!-- ====== Header Mobile Area ====== -->
    <header class="mobile-header-area bg-nero hidden-md hidden-lg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 tb">
                    <div class="mobile-header-block">
                        <div class="menu-area tb-cell">
                            <!--Mobile Main Menu-->
                            <div class="mobile-menu-main hidden-md hidden-lg">
                                <div class="menucontent overlaybg"></div>
                                <div class="menuexpandermain slideRight lines">
                                    <a id="navtoggole-main" class="animated-arrow slideLeft menuclose">
                                        <span></span>
                                    </a>
                                    <span id="menu-marker"></span>
                                </div><!--/.menuexpandermain-->
                                <div id="mobile-main-nav" class="main-navigation slideLeft">
                                    <div class="menu-wrapper">
                                        <div id="main-mobile-container" class="menu-content clearfix"></div>
                                        <div class="left-content">
                                            <ul>
                                              


                                                 <li>
                                   <button class="btn threed1" style="background: transparent;">
                                    <a href="propertforyou.html"> Post Your Property</a></button>
                                </li>


                                                <li>
                                                    <a href="#" class="cd-signin"><i class="fa fa-address-book"></i>Login / Register</a>
                                                </li>
                                            </ul>
                                        </div><!-- /.left-content -->
                                    </div>
                                </div><!--/#mobile-main-nav-->
                            </div><!--/.mobile-menu-main-->
                        </div><!-- /.menu-area -->
                        <div class="logo-area tb-cell">
                            <div class="site-logo">

                                <a href="buy.html">
                                   <img src="images/logo1.jpg" alt="site-logo" style="width: 73px;border-radius: 10px;margin-left: 199px;" />    
                                   <button class="btn dropdown-toggle punedrop" type="button" style="color: black;border: 1px solid #a29999;">Pune
                                         <span class="caret"></span></button>
                                </a>
                            </div>

                            <!-- /.site-logo -->
                        </div><!-- /.logo-area -->
                    </div><!-- /.mobile-header-block -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </header><!-- /.mobile-header-area --> 




        <!-- ====== Header Top Area ====== -->
    <header class="header-area bg-nero hidden-xs hidden-sm">
        <div class="container">
            <div class="header-top-content">
                <div class="row">
                    
                    <div class="col-md-2 col-sm-2 mobile-center">
                      <!--   <div class="site-logo" style=""> -->
                            <a href="buy.html">
                    <img src="images/logo1.jpg" alt="site-logo" style="border-radius: 17px; width: 90px;"/>
                            </a>


                      <!--   </div> --><!-- /.site-logo -->
                    </div>


                      <div class="col-md-3 col-sm-3 mobile-center">
                         

                           <h4 style="color: white;font-size: 27px;margin-left: -78px;margin-top: 28px;">Commercial Property</h4>
                          
                        
                    </div>


                     <div class="col-md-2 col-sm-2 mobile-center" >
                       
                         
                                <button class="btn dropdown-toggle" type="button" style="color: black;border: 1px solid #a29999;margin-top: 37px;margin-left: -98px;">Pune
                                         <span class="caret"></span></button>
                    </div>
                    <!-- /.col-md-8 -->
                    <div class="col-md-4 col-sm-4 mobile-center" style="">
                        <div class="left-content" style="margin-right:-25px !important;">
                            <ul>
                                <li>
                                   <button class="btn threed1" style="background: transparent;">
                                    <a href="propertforyou.html"> Post Your Property</a></button>
                                </li>
                                <li>
                                    <a href="#" class="cd-signin"><i class="fa fa-address-book"></i>Login / Register</a>
                                </li>
                         
                            </ul>
                        </div><!-- /.left-content -->
                    </div><!

                </div><!-- /.row -->
            </div><!-- /.header-top-content -->
        </div><!-- /.container -->
    </header><!-- /.head-area -->


    <!-- ====== Header Bottom Content ====== -->
   

  <div class="header-overlay-content">


     <!-- overlay-menu-item -->
        <div class="overlay overlay-hugeinc gradient-transparent overlay-menu-item">
            <button type="button" class="overlay-close">Close</button>
            <nav>
                <ul class="overlay-menu">
                 
                </ul>
            </nav>
        </div> <!-- /.overlay-menu-item -->


    <!-- header-search-content -->
        <div class="gradient-transparent overlay-search">
            <button type="button" class="overlay-close">Close</button>
            <div class="header-search-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="#" method="get" class="searchform">
                                <div class="input-group" id="adv-search">
                                    <input type="text" class="form-controller" placeholder="Search for snippets" />
                                    <div class="input-group-btn">
                                        <div class="btn-group" role="group">
                                            <div class="dropdown dropdown-lg">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="fa fa-caret-down"></span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <div class="form-horizontal">
                                                        <div class="checkbox">
                                                            <label><input type="checkbox"> From Blog</label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label><input type="checkbox">Find Your Apartment</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">
                                                <span class="fa fa-search" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.header-search-content -->  


          <!-- Registrar Or Sign In-content -->
        <div class="cd-user-modal">
            <div class="cd-user-modal-container">
                <ul class="cd-switcher">
                    <li><a href="#0">Sign in</a></li>
                    <li><a href="#0">New account</a></li>
                </ul>

                <!-- log in form -->
                <div id="cd-login"> 
                    <form class="cd-form">
                        <p class="fieldset">
                            <label class="image-replace cd-email" for="signin-email">E-mail</label>
                            <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                            <span class="cd-error-message">Error message here!</span>
                        </p>

                        <p class="fieldset">
                            <label class="image-replace cd-password" for="signin-password">Password</label>
                            <input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Password">
                            <a href="#0" class="hide-password">Hide</a>
                            <span class="cd-error-message">Error message here!</span>
                        </p>

                        <p class="fieldset">
                            <input type="checkbox" id="remember-me" checked>
                            <label for="remember-me">Remember me</label>
                        </p>

                        <p class="fieldset">
                            <input class="full-width" type="submit" value="Login">
                        </p>
                    </form>
                    
                    <p class="cd-form-bottom-message">
                        <a href="#0">Forgot your password?</a>
                    </p>
                    <a href="#0" class="cd-close-form">Close</a>
                </div> <!-- cd-login -->

                <!-- sign up form -->
                <div id="cd-signup">
                    <form class="cd-form">
                        <p class="fieldset">
                            <label class="image-replace cd-username" for="signup-username">Username</label>
                            <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                            <span class="cd-error-message">Error message here!</span>
                        </p>

                        <p class="fieldset">
                            <label class="image-replace cd-email" for="signup-email">E-mail</label>
                            <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                            <span class="cd-error-message">Error message here!</span>
                        </p>

                        <p class="fieldset">
                            <label class="image-replace cd-password" for="signup-password">Password</label>
                            <input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password">
                            <a href="#0" class="hide-password">Hide</a>
                            <span class="cd-error-message">Error message here!</span>
                        </p>

                        <p class="fieldset">
                            <input type="checkbox" id="accept-terms">
                            <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                        </p>

                        <p class="fieldset">
                            <input class="full-width has-padding" type="submit" value="Create account">
                        </p>
                    </form>

                    <a href="#0" class="cd-close-form">Close</a>
                </div> <!-- cd-signup -->
                
                <!-- reset password form -->
                <div id="cd-reset-password">
                    <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

                    <form class="cd-form">
                        <p class="fieldset">
                            <label class="image-replace cd-email" for="reset-email">E-mail</label>
                            <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                            <span class="cd-error-message">Error message here!</span>
                        </p>
                        <p class="fieldset">
                            <input class="full-width has-padding" type="submit" value="Reset password">
                        </p>
                    </form>

                    <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
                </div> <!-- cd-reset-password -->
                <a href="#0" class="cd-close-form">Close</a>
            </div> <!-- cd-user-modal-container -->
        </div> <!-- cd-user-modal -->
    </div><!-- /.header-overlay-content -->




    <!-- ======slider Area====== --> 
    <div class="slider-area">
        <div class="pogoSlider">
            <div class="pogoSlider-slide" data-transition="expandReveal" data-duration="1000" style="background-image:url(images/n8.jpg);">
                <div class="container-slider one">                    
                    <div class="row">
                        <div class="col-md-offset-4 col-md-12">
                         

                       <ul class="nav nav-pills" style="color: white !important;">
                        <li class="active">
                            <a href="buy.html" class="threed" data-toggle="pill" ng-click="buy();">
                                <b>Buy</b>
                            </a>
                        </li>
                        <li>
                        <a  href="rent.html" class="threed" data-toggle="pill"  ng-click="rent();">
                            <b> Rent/PG</b>
                        </a>
                    </li>
                        <li>
                            <a  href="prereleased.html" class="threed" data-toggle="pill"  ng-click="preleased();">
                                <b>Pre-leased</b>
                            </a>
                        </li>
                       <!--  <li><a class="threed" data-toggle="pill" href="#commercial"><b>Commercial</b></a></li>
                         <li><a class="threed" data-toggle="pill" href="#dealer"><b>Dealer</b></a></li> -->
                      </ul>


                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->


                    <div class="row form-group rowmain">
                      
                        <div class="col-md-2">
                          

                         <button class="btn btnbg1 btnprperty" type="button" data-toggle="dropdown" >Property type
                            <span class="caret"></span></button>




           
             <ul class="dropdown-menu resul" style="height: auto !important; width: 342%;/*width: 244px  !important;*/">

                     <!-- 
                          <div class="row form-group" style="margin-left: 1px;">
                           <div class="col-md-2">
                              <input type="radio" name="pro" value="project" ng-click="showresiden()">

                           </div>
                           <div class="col-md-1">
                               All Residential
                                </div>
                           </div> -->





                          <div class="row form-group" style="margin-left: 1px;">


                            <div class="col-md-4">

                                <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                                 Shop
                                </div>
                                </div>


                                 <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                                Showroom
                                </div>
                                </div>


                                 <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                                 Office
                                </div>
                                </div>

                                 <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                                 Floor Plate
                                </div>
                                </div>

                                 <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                                 Commercial Building
                                </div>
                                </div>
                         </div>


                            <div class="col-md-4">
                                  
                                 <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                               Retail Space in Mall
                                </div>
                                </div>


                                 <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                            Co-working Office Space
                                </div>
                                </div>


                                 <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                            Premium Flats
                                </div>
                                </div>

                                 <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                           Bungalows & Bungalow Plots
                                </div>
                                </div>

                                 <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                             Warehouse
                                </div>
                                </div>

                         </div>


                            <div class="col-md-4">
                                    <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                        Industrial Land
                                </div>
                                </div>


                                  <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                           Restaurant Setups
                                </div>
                                </div>

                                  <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                             Terrace restaurant
                                </div>
                                </div>

                                  <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                             Building for PG/ Rest House
                                </div>
                                </div>

                                  <div class="row form-group">
                                    <div class="col-md-2">
                                 <input type="checkbox" name="pro2">

                                </div>
                                <div class="col-md-10">
                            Commercial Flats
                                </div>
                                </div>
                         </div>


                           </div>
                     
            </ul>



                        </div><!-- col-md-2 property type -->




                          <div class="col-md-8 searchbar">
                            

                              <div class="panel-group">
    <div class="panel panel-default" style="margin-top: -2px;">
      <div class="panel-heading">
        <h4 class="panel-title" style="margin-top: -1px;">
          <a data-toggle="collapse" href="#collapse1">
            <input type="text" name="" class="form-control w3-hover-shadow" placeholder="search" style="border: none"></a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group">
          <div class="row">
          <!-- <div class="col-md-4">
          <div class="list-group-item">
             <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"  style="color: black;border: 1px solid #a29999; ">Construction status
            <span class="caret"></span></button>
            <ul class="dropdown-menu" style="">
              <div class="row form-group" style="margin-left: 3px;">
                <input type="radio" name="UnderConstruction" value="UnderConstruction">Under Construction
              </div>
              <div  style="margin-left: 3px;"><input type="radio" name="Readytomove" value="Readytomove">Ready to move</div>

            </ul>
          </div>
          </div>
        </div> -->

         <div class="col-md-2">
          <div class="list-group-item">
            <!--  <div class=""> -->
              <button class="btn " type="button"  data-toggle="collapse" data-target="#demo2"  style="color: black;border: 1px solid #a29999; ">Budget
            <span class="caret"></span></button>
           <!--  <ul class=""> -->


            <ul id="demo2" class="collapse dropdown-menu resul3" style="width: 212px;">
                      <div class="row"><center><b>{{min}} Min-{{max}} Max</b></center>
                        <div class="col-md-12">

                          <div class="col-md-6"> 
                          <select ng-model="min" style="border: 1px solid #b6acac;width: 78px;">
                            <option value="1">1 Lac</option>
                            <option value="2">2 Lacs</option>
                            <option value="3">3 Lacs</option>
                            <option value="4">4 Lacs</option>
                            <option value="5">5 Lacs</option>
                            <option value="6">6 Lacs</option>
                            <option value="7">7 Lacs</option>
                            <option value="8">8 Lacs</option>
                            <option value="9">9 Lacs</option>
                            <option value="10">10 Lacs</option>
                          </select>
                          </div>
                          <div class="col-md-6">
                          <select ng-model="max" style="border: 1px solid #b6acac;width: 78px;"> 
                            <option value="1">1 Lac</option>
                            <option value="2">2 Lacs</option>
                            <option value="3">3 Lacs</option>
                            <option value="4">4 Lacs</option>
                            <option value="5">5 Lacs</option>
                            <option value="6">6 Lacs</option>
                            <option value="7">7 Lacs</option>
                            <option value="8">8 Lacs</option>
                            <option value="9">9 Lacs</option>
                            <option value="10">10 Lacs</option>
                          </select>
                        </div>
                        </div>
                      </div>
                    </ul> 
          </div>
        </div>

     

         <!-- <div class="col-md-3">
          <div class="list-group-item">
             <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown"  style="color: black;border: 1px solid #a29999; margin-left: -2px;">Posted by
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              
              <div class="row form-group" style="margin-left: 13px;">
        
              <div style="margin-left: 28px;"><input type="checkbox" name="s" value="a">&nbsp;&nbsp;Owner</div>
              <div style="margin-left: 28px;"><input type="checkbox" name="s" value="b">&nbsp;&nbsp;Builder</div>
              <div style="margin-left: 28px;"><input type="checkbox" name="s" value="a">&nbsp;&nbsp;3Dealer</div>
             
              </div>
            </ul>
          </div>
          </div>
        </div>


         <div class="col-md-3">
          <div class="list-group-item">
             <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown"  style="color: black;border: 1px solid #a29999; ">Bedroom
            <span class="caret"></span></button>
            <ul class="dropdown-menu">

              <div class="row form-group" style="margin-left: 13px;">
              <div style="margin-left: 28px;">Any</div>
              <div style="margin-left: 28px;"><input type="checkbox" name="s" value="a">&nbsp;&nbsp;1 BHK</div>
              <div style="margin-left: 28px;"><input type="checkbox" name="s" value="b">&nbsp;&nbsp;2 BHK</div>
              <div style="margin-left: 28px;"><input type="checkbox" name="s" value="a">&nbsp;&nbsp;3 BHK</div>
              <div style="margin-left: 28px;"><input type="checkbox" name="s" value="b">&nbsp;&nbsp;4 BHK</div>
              <div style="margin-left: 28px;"><input type="checkbox" name="s" value="a">&nbsp;&nbsp;5 BHK</div>
              <div style="margin-left: 28px;"><input type="checkbox" name="s" value="b">&nbsp;&nbsp;6 BHK</div>
              </div>
            </ul>
          </div>
          </div>
        </div>
 -->

      </div>
          
        </ul>
       <!--  <div class="panel-footer">Footer</div> -->
      </div>
    </div>
  </div>


                          </div><!-- col-md-8 serach  -->





                          <div class="col-md-2">
                            
                             <button class="btn serachbtn" style=""> 
                                <a href="properties.html">
                                <i class="fa fa-search" style="font-size: 29px;"></i>
                                </a>
                            </button>

                          </div>










                    </div><!-- row -->




                </div><!-- /.container-slider -->
            </div>
        
        </div><!-- .pogoSlider -->
    </div><!-- /.slider-area container-fluid -->



      <div class="availability-area bg-white-smoke">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   

                </div>
              </div>
            </div>
          </div>
          

<!-- 
          <div class="row">
               <ul class="effectnew" >
                   <li class="lieffect odd">
                    
                       
                   </li>
                   <li class="lieffect odd2">
                     
                   </li>
                   <li class="lieffect odd3">
                      
                   </li>
                   <li class="lieffect odd4">
                       
                   </li>
                   <li class="lieffect odd5">
                      
                   </li>
               </ul>
          </div> -->

          

           <!-- <div class="row form-group">
              <div class="col-md-offset-4 col-md-5">
        <h1>Our Prime Properties</h1>
          </div>
        </div>
 -->
         <div class="heading-content-two available">
          <div class="row">
            <div class="col-md-12">
                            <h2 class="title" style="font-size: 50px !important;">Our Prime Properties</h2>
                            </div>
                            </div>
                           
                        </div>

          <div class="new">
          <div class="content-silder">

            <div class="slide" style="background-image: url(images/s1.jpeg);">
                
                <div class="caption">
                    
                    <h1>Pre-leased Commercial</h1>
                  <!--   <p>helooooooo</p> -->
                </div>
            </div>



              <div class="slide"  style="background-image: url(images/s2.jpg);">
                
                <div class="caption">
                    
                    <h1>SEZ & IT Parks</h1>
                   <!--  <p>helooooooo</p> -->
                </div>
            </div>


              <div class="slide" style="background-image: url(images/s3.jpg);">
                
                <div class="caption" >
                    
                    <h1>Co- Working Spaces</h1>
                 <!--    <p>helooooooo</p> -->
                </div>
            </div>


              <div class="slide" style="background-image: url(images/s4.jpg);">
                
                <div class="caption">
                    
                    <h1>Buy/ Rent Luxury Homes</h1>
                   <!--  <p>helooooooo</p> -->
                </div>
            </div>

              <div class="slide" style="background-image: url(images/s5.jpg);">
                
                <div class="caption">
                    
                    <h1>Premium Bungalows & Open Bungalow Plots</h1>

                </div>
            </div>
              
          </div>
        </div>


     
           <!--   <div class="row form-group">
              <div class="col-md-offset-4 col-md-5">
        
          <div class="heading-content-two available">
                            <h2 class="title">Featured Project</h2>
                           
                        </div>


          </div>
        </div> -->




                <div class="row form-group">
            
            <div class="col-md-6">

             <div class="row form-group" style="margin-top: 46px;">
              <div class="col-md-offset-1 col-md-1">
                
              <i class="fa fa-check-circle" style="font-size:48px;color:#0d38b1;"></i>

             </div>

            <div class="col-md-offset-1 col-md-8">
        
                    <h2 style="color: black;">“100% verified property details”</h2>

             </div>
        </div>


         <div class="row form-group" style="margin-top: 46px;">
               <div class="col-md-offset-1 col-md-1">
                
          <i class='fas fa-child' style="font-size:48px;color:#0d38b1;" ></i>
             </div>

           <div class="col-md-offset-1 col-md-8">
        
                    <h2 style="color: black;">Personal assistance for every visit</h2>

             </div>
        </div>




        <div class="row form-group" style="margin-top: 46px;">
             <div class="col-md-offset-1 col-md-1">
          <i class='fas fa-hand-holding-usd' style="font-size:48px;color:#0d38b1;"></i>
             </div>

          <div class="col-md-offset-1 col-md-8">
        
                    <h2 style="color: black;">No brokerage and Service fee for Start-ups</h2>

             </div>
        </div>

    </div>

      <div class="col-md-6">

          <div class="row form-group" style="margin-top: 46px;">
              <div class="col-md-offset-1 col-md-1">
        <i class='far fa-handshake' style="font-size:48px;color:#0d38b1;"></i>
             </div>

                <div class="col-md-offset-1 col-md-8">
        
        
                    <h2 style="color: black;">In-house legal team for all the paper work and Agreements</h2>

             </div>
        </div>



           <div class="row form-group" style="margin-top: 46px;">
              <div class="col-md-offset-1 col-md-1">
                
         <i class='fas fa-rupee-sign' style="font-size:48px;color:#0d38b1;"></i>
             </div>

             <div class="col-md-offset-1 col-md-8">
        
        
                    <h2 style="color: black;">Hassle Free Maintenance of your Property</h2>

             </div>
        </div>
</div>
        </div>

 <div class="heading-content-two available">
                            <h2 class="title">Featured Project</h2>
                           
                        </div>

          <div class="container container2">


              <div class="box2"  style="background-image: url(images/s2.jpg);">
                <div class="caption3">Residencial</div>
              </div>
               <div class="box2" style="background-image: url(images/s3.jpg);">
                    <div class="caption3">Commercial</div>
               </div>
                <div class="box2" style="background-image: url(images/s4.jpg);">
                   <div class="caption3">Hospatility</div>
                </div>
                 <div class="box2" style="background-image: url(images/s5.jpg);">
                    <div class="caption3">Retail</div>
                 </div>
                

                


          </div>







          <section id="footer">
    <div class="container"> 
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-2">
         <h5>Real Estate In Pune</h5>
          <ul class="list-unstyled quick-links">
            <li>
              <a href="">
              <i class="fa fa-angle-double-right"></i>Magarpatta City
            </a>
            </li>
            <li>
              <a href="">
              <i class="fa fa-angle-double-right"></i>Amanora Park
            </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i> Town Hadapsar
              </a>
              </li>
            <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i>Kharadi
              </a>
              </li>
            <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i> Viman Nagar 
              </a>
              </li>

             <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i> Kalyani Nagar 
              </a>
              </li>


             <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i>  Koregaon Park 
              </a>
            </li>
             <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i>  Mundhawa
                 </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-angle-double-right"></i> Keshav Nagar 
                </a>
              </li>
          </ul>
        </div>
         <div class="col-xs-12 col-sm-4 col-md-2">
         
         <div class="row" style="margin-top: 62px;"></div>
          <ul class="list-unstyled quick-links">
            <li>
              <a href="">
              <i class="fa fa-angle-double-right"></i>Magarpatta City
            </a>
            </li>
            <li>
              <a href="">
              <i class="fa fa-angle-double-right"></i>Amanora Park
            </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i> Town Hadapsar
              </a>
              </li>
            <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i>Kharadi
              </a>
              </li>
            <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i> Viman Nagar 
              </a>
              </li>

             <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i> Kalyani Nagar 
              </a>
              </li>


             <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i>  Koregaon Park 
              </a>
            </li>
             <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i>  Mundhawa
                 </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-angle-double-right"></i> Keshav Nagar 
                </a>
              </li>
          </ul>
        </div>

          <div class="col-xs-12 col-sm-4 col-md-2">
         
         <div class="row" style="margin-top: 62px;"></div>
          <ul class="list-unstyled quick-links">
            <li>
              <a href="">
              <i class="fa fa-angle-double-right"></i>Camp
            </a>
            </li>
            <li>
              <a href="">
              <i class="fa fa-angle-double-right"></i>Fatimanagar
            </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i> Wanowari
              </a>
              </li>
            <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i>Swargate
              </a>
              </li>
            <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i> Kothrud/ Karvenagar
              </a>
              </li>

             <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i> Paud Road 
              </a>
              </li>


             <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i>Shivajinagar
              </a>
            </li>
             <li>
              <a href="">
                <i class="fa fa-angle-double-right"></i> Bhosale Nagar
                 </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-angle-double-right"></i> S B Road
                </a>
              </li>

               <li>
                <a href="">
                  <i class="fa fa-angle-double-right"></i>F C Road
                </a>
              </li>

              <li>
                <a href="">
                  <i class="fa fa-angle-double-right"></i>University Road
                </a>
              </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <h5>Company</h5>
          <ul class="list-unstyled quick-links">
            <li><a href=""><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
            <li><a href=""><i class="fa fa-angle-double-right"></i>About US</a></li>
           
          </ul>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Cotact Us</h5>
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-mobile" style="font-size: 30px"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-envelope"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
        
    </div>
  </div>

  </section>



</div>

 <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> <!-- main-js -->
</body>
</html>